CONFIG_AUTOSTART_ARDUINO=y

# DHCP extra-option hook. We use the IDF DEFAULT weak implementation and
# override it with our strong application implementation in main.cpp.
# CONFIG_LWIP_HOOK_DHCP_EXTRA_OPTION_NONE is not set
CONFIG_LWIP_HOOK_DHCP_EXTRA_OPTION_DEFAULT=y
# CONFIG_LWIP_HOOK_DHCP_EXTRA_OPTION_CUSTOM is not set

CONFIG_LWIP_DHCP_OPTIONS_LEN=128

# Required by Arduino-ESP32 3.x
CONFIG_FREERTOS_HZ=1000
